JWT
JWT_SECRET=

Email
BREVO_API_KEY=
DEFAULT_FROM_EMAIL=

PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=

Django
DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

PHP
CORS_ORIGIN=

App URLs
APP_BASE_URL_FRONTEND=
APP_BASE_URL_BACKEND=

Google OAuth
VITE_GOOGLE_CLIENT_ID=

Vite / React
VITE_API_BASE_URL=
VITE_DJANGO_API_URL=
VITE_PHP_API_URL=
VITE_OLLAMA_URL=