JWT_SECRET=
BREVO_API_KEY=
DEFAULT_FROM_EMAIL=

POSTGRES_DB=pawster_db
POSTGRES_USER=
POSTGRES_PASSWORD=

MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=pawster_messages

DJANGO_SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,django
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

APP_BASE_URL_FRONTEND=http://localhost:3000
APP_BASE_URL_BACKEND=http://localhost:8000

VITE_GOOGLE_CLIENT_ID=
VITE_API_BASE_URL=http://localhost:8000
VITE_DJANGO_API_URL=http://localhost:8000
VITE_PHP_API_URL=http://localhost:8000
VITE_OLLAMA_URL=http://localhost:11434